*{
    background-color:#FEF56D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    color: black;
    text-align: center;
    font-size: large;
    font-style: italic;
}
.presentacion{
    text-align: center;
}
img{
    border-radius: 200px;
    width: 35%;
}

.informacionGeneral{
    background-color: #70B4FF;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    padding: auto;
}

.informacion{
    background-color: #70B4FF;
    width: 35%;
    max-width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    
    
    

}
p{
    background-color: #70B4FF;
    font-family: 'Times New Roman', Times, serif;
}



.perfil{
    
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
    display: flex;
    
}
.perfilPersonal{
    text-align: center;
    background-color: #70B4FF;
    width: 90%;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    margin: 5px;
}
.descripcion{
    text-align: center;
    background-color: #70B4FF;
    
}

.perfilProfesional{
    text-align: center;
    background-color: #7cb9fc;
    width: 100%;
    margin-bottom: 10px;
    margin: 5px;
    

}
.subtitulo{
    text-align: center;
    background-color: #70B4FF;
    font-family: Verdana;
}
.experiencia{
    text-align: center;
    background-color: #70B4FF;
    width: 100%;
    margin-bottom: 10px;
    margin: 5px;
}
.skills{
    text-align: center;
    background-color: #70B4FF;
    width: 100%;
    margin-bottom: 10px;
    margin: 5px;
}
.citas{
    background-color: #FEF56D;
}
span{
    background-color: #FEF56D;
}
input{
    background-color: #FEF56D;
}
.borrar{
    background: transparent;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    padding: 10px;
    text-decoration: none;
}
.borrar:hover {
    background-color: rgb(192, 17, 17);
    color: white;
}

.programarCita{
    background: transparent;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
     border-radius: 10px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    padding: 4px;
    text-decoration: none;
}

.programarCita:hover{
    background-color: rgb(20, 168, 20);
    color: white;
}

.nombre{
    font-family: cursive;
    
}







