*{
    background-color: #0AA4FC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    color: black;
    text-align: center;
}
.foto{
    text-align: center;
}
.informacionGeneral{
    background-color: #FFF385;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    
}

.informacion{
    background-color: #FFF385;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    
    
    

}
p{
    background-color: #FFF385;
}

li{
    background-color: rgb(212, 192, 166);
}

.list{
    background-color: rgb(212, 192, 166);
    list-style-type: none;
    width: 50%;
}

    
    
.perfilPersonal{
    text-align: center;
    background-color: #FFF385;
    width: 100%;
    margin-bottom: 10px;
    
    
}
.descripcion{
    text-align: center;
    background-color: #FFF385;
    
}

.perfilProfesional{
    text-align: center;
    background-color: #FFF385;
    width: 100%;
    margin-bottom: 10px;
    

}
.subtitulo{
    text-align: center;
    background-color: #FFF385;
}
.experiencia{
    text-align: center;
    background-color: #FFF385;
    width: 100%;
    margin-bottom: 10px;
}
.skills{
    text-align: center;
    background-color: #FFF385;
    width: 100%;
    margin-bottom: 10px;
    
}
.cita{
    background-color: #85B6FF;
}
span{
    background-color: #85B6FF;
}
input{
    background-color: #85B6FF;
}




