*{
    background-color: #FFD285;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    color: black;
    text-align: center;
    font-size: large;
    font-style: italic;
}
.presentacion{
    text-align: center;
}

.informacionGeneral{
    background-color: #FFE2E0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    
}

.informacion{
    background-color: #FFE2E0;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    
    
    

}
p{
    background-color: #FFE2E0;
    font-family: 'Times New Roman', Times, serif;
}


    
    
.perfilPersonal{
    text-align: center;
    background-color: #FFE2E0;
    width: 100%;
    margin-bottom: 10px;
    
    
}
.descripcion{
    text-align: center;
    background-color: #FFE2E0;
    
}

.perfilProfesional{
    text-align: center;
    background-color: #FFE2E0;
    width: 100%;
    margin-bottom: 10px;
    

}
.subtitulo{
    text-align: center;
    background-color: #FFE2E0;
    font-family: Verdana;
}
.experiencia{
    text-align: center;
    background-color: #FFE2E0;
    width: 100%;
    margin-bottom: 10px;
}
.skills{
    text-align: center;
    background-color: #FFE2E0;
    width: 100%;
    margin-bottom: 10px;
    
}
.cita{
    background-color: #85B6FF;
}
span{
    background-color: #85B6FF;
}
input{
    background-color: #85B6FF;
}




